version: '3.8'

services:
  nginx-proxy:
    image: nginx:1.25-alpine
    container_name: nginx-proxy
    restart: always

    ports:
      - "80:80"
      - "443:443"

    volumes:
      - {{ nginx_conf_dir }}/nginx.conf:/etc/nginx/conf.d/default.conf:ro

      - {{ certs_dir }}/fullchain.pem:/etc/ssl/certs/fullchain.pem:ro
      - {{ certs_dir }}/cert-key.pem:/etc/ssl/private/cert-key.pem:ro

    networks:
      - lan

networks:
  lan:
    driver: bridge
